@model IEnumerable<H_Invoice.Models.InvTransList>

@foreach (var row in Model)
{
<h1><span>رقم المستند @row.Doc_No</span><span>الحالة : @row.Message</span></h1>
    <table class="table">
        <tr>
            <th>
                الرسالة
            </th>
            <th>
                المرجع
            </th>


            <th></th>
        </tr>

        @foreach (var item in row.errors)
        {
            <tr style="color:@item.Color">
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>

            </tr>
        }

    </table>
}

