
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1 class="error-content" > غير مصرح لك بالدخول</h1>
    </div>
</body>
</html>
