
@{
    ViewBag.Title = "getdocs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-success text-center" role="alert">
    تمت المزامنة مع بوابة الضرائب
    <i class="fas fa-sync"></i>
</div>

